@import "styles/mixins";

.list {
  display:flex;
  flex-direction: column;
  gap:20px;
  @include tablet(){
    gap:15px;
  }
}
.project {
  border:1px solid var(--accent1);
}

.info {
  padding:5px 15px 15px 15px;
  p {
    margin-bottom:.5em;
  }
}

.link {
  text-decoration: none;
}

.title {
  color:var(--text);
  padding-left:1em;
  font-size: 1rem;
  letter-spacing: -1px;
  text-align: center;
  line-height: 1.2em;
  @include tablet(){
    font-size:.8rem;
  }
}

.summary {
  padding:10px 15px;
  display: flex;
  align-items: center;
  &:hover {
    cursor: pointer;
    .arrow i {
      color:var(--text);
    }
  }
}

.arrow {
  margin-left:auto;
  font-size:25px;
  i {
    color:var(--accent1);
  }
}